.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MemeText {
  margin-top: 100px;
}
.MemeImage {
  align-items: center;
}
Header {
  margin-left: 37.7%;
}
.selectImg {
  display: block;
}
